*{
    font-family: 'PT Sans', sans-serif;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 30%;
}
.header-first-row{
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}
.header-first-row img{
    margin-left: -5%;
    max-width: 300px;
    transform: scale(0.9);
}
.header-second-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-bottom: 20px;
    border-bottom: solid 1px #333;
}
.header-second-row button{
    border: solid 2px rosybrown;
    margin-bottom: 5px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    background-color: white;
    min-height: 30px;
    min-width: 100px;
    padding: 3px 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 10px 5px 5px rgba(7, 7, 7, 0.2);
}
.header-second-row button:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
.header-second-row button:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
  }
.header-contacts{
    display: inline-block;
}
.content{
    display:flex;
    flex: 0 0 auto;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 30%;
}
.carousel-wrapper{
    box-sizing: border-box;
    font-family: sans-serif;
	overflow: hidden;
    max-width: 500px;
    margin: 0 10%;
}
.carousel-wrapper label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 500px;
	height: 500px;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 500px;
}
.carousel-wrapper form {
    max-width: 500px;
    max-height: 500px;
	white-space: nowrap;
}
.carousel-wrapper input {
	position: absolute;
}
.carousel-wrapper .keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

.carousel-wrapper input:focus ~ .keys {
	opacity: 0.8;
}
.carousel-wrapper input:nth-of-type(1):checked ~ label:nth-of-type(1), 
.carousel-wrapper input:nth-of-type(2):checked ~ label:nth-of-type(2),
.carousel-wrapper input:nth-of-type(3):checked ~ label:nth-of-type(3),
.carousel-wrapper input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}
.carousel-wrapper input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}
.carousel-wrapper input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}
.carousel-wrapper input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}
.carousel-wrapper input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}
.carousel-wrapper label {
	background: #444;
	background-size:contain;
	font-size: 3rem;
}
.carousel-wrapper label[for="first"]{
    background-image: url(/images/carousel-1.jpg);
}
.carousel-wrapper label[for="second"] {
	background-image: url(/images/carousel-2.jpg);
}
.carousel-wrapper label[for="third"] {
	background-image: url(/images/carousel-3.jpg);
}
.carousel-wrapper label:before,
.carousel-wrapper label:after {
	color: rosybrown;
	display: block;
	background: radial-gradient(white, rosybrown);
	position: absolute;
	padding: 0.4rem;
	font-size: 2rem;
	height: 6rem;
	vertical-align: middle;
	line-height: 6rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.carousel-wrapper label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.carousel-wrapper label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
.title-wrapper{
    display: block;
}
.services-table-wrapper{
    font-family: 'Oswald', sans-serif;
    display: block;
}
.services-table{
    margin: 2% 0;
}
.services-table tr{
    height: 100px;
}
.services-table td{
    width: 250px;
    height: 100px;
    padding: 2%;
}
.services-table-icon-wrapper{
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden; /* Скрываем всё за контуром */
}
.services-table-icon {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: 30%;
    margin-top: -50px;
    transition: 1s; /* Время эффекта */
    display: block; 
}
.services-table-icon:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
    cursor: pointer;
}
.services-table-text{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 13pt;
}
.services-table-text:hover{
    font-weight: 500;
    cursor: pointer;
}
.services-table-text::after { 
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
  }
.services-table-text:hover::after { 
    width: 100%;
    right: 0; 
  }
.useful-info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.useful-info-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.video-wrapper{
    
}
.img-wrapper{

}
.img-wrapper img{
    width: 300px;
}
.text-wrapper{
    margin-top: 20px;
}
.bold-text{
    font-weight: bold;
}
.contact-list{
    margin-top: 10px;
}
.contact-list ul{
    margin-top: 10px;
    list-style-type: square;
}
.contact-list ul li{
    line-height: 1.5;
}

.footer{
    border-top: solid 1px #333;
    padding-top: 20px;
    display: flex;
    justify-content: space-between ;
    margin: 30px 10%;
}
.prices-wrapper{
    margin: 10px 30% 10px 30%;
    display: block;
}
.prices-image-1{
    width: 200px;
    float: left;
}
.prices-image-2{
    width: 200px;
    float: right;
}
.prices-image-3{
    width: 200px;
    float: left;
}
.prices-text{
    width: 500px;
    height: 200px;
    overflow: auto;
}
.sidebar{
    float: left;
    width: 150px;
    border-right: solid 1px black;
    box-sizing: border-box;
}
.docs-text-wrapper{
    display: flex;
    margin: 10px 30% 10px 30%;
}
.docs-text{
    flex: 1;
    padding: 0 10px 0 10px;
}
.first-grid-container {
    margin: 10px 30% 10px 30%;
    border: solid 2px #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 5em);
    background-color:aliceblue;
    z-index: 10;
}
.special-item{
    grid-area: 1 / 2 / 1 / 5;
}
.first-grid-item {
    text-align:center;
    font-size: 1.1em;
    padding: 1.5em;
    color: white;
}
.second-grid-container {
    margin: 10px 30% 10px 30%;
    border: solid 2px #000;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}
.second-grid-item {
    text-align:center;
    font-size: 1.1em;
    padding: 1.5em;
    color: white;
    z-index: 1;
}
.item1{
    grid-area: 1 / 1 / 3 / 4;
    opacity: 0.8;
}
.item2{
    grid-area: 1 / 1 / 2 / 2;
}
.item3{
    grid-area: 1 / 3 / 2 / 4;
}
.item4{
    grid-area: 2 / 1 / 3 / 2;
}
.item5{
    grid-area: 2 / 2 / 3 / 3;
}
.item6{
    grid-area: 2 / 3 / 3 / 4;
}
.item7{
    grid-area: 3 / 1 / 4 / 2;
}
.third-grid-container {
    margin: 10px 30% 10px 30%;
    border: solid 2px #000;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.third-grid-item {
    text-align:center;
    font-size: 1.1em;
    padding: 1.5em;
    color: white;
}
.last-item{
    order: 1;
}
.first-item{
    order: -1;
}
.color1 {background-color: #675BA7;z-index: 1;}
.color2 {background-color: #9BC850;z-index: 1;}
.color3 {background-color: #A62E5C;z-index: 1;}
.color4 {background-color: #2A9FBC;z-index: 1;}
.color5 {background-color: #4e342e;z-index: 1;}
.color6 {background-color: burlywood;z-index: 1;}
.color7 {background-color: gray;z-index: 1;}
.fourth-grid-container {
    margin: 10px 30% 10px 30%;
    border: solid 2px #000;
    display: grid;
    height: 30vh;
    grid-template-rows: 6em 10px 1fr;
    grid-template-columns: [mainstart] 1fr [mainend] 10px [sidebarestart] 25% [sidebarend];
}

.grid-item-content {
    background-color: #455a64;
    grid-row: 3 / 4;
    grid-column: mainstart / mainend;
}

.grid-item-sidebar {
    background-color: #37474f;
    grid-row: 3 / 4;
    grid-column: sidebarestart / sidebarend;
}

.grid-item-header{
    background-color: #263238;
    grid-row: 1 / 2;
    grid-column: mainstart / sidebarend;
}

.fourth-grid-item {
    color: #fff;
    text-align: center;
}
.fifth-grid-container {
    margin: 10px 30% 10px 30%;
    border: solid 2px #000;
    height:30vh;
    display: grid;
    grid-template-areas: "header header header header header"
                         ". . . . ."
                         "menu . content . sidebar"
                         ". . . . ."
                         "footer footer footer footer footer";
    grid-template-columns: 130px 5px 1fr 5px 130px;
    grid-template-rows: 90px 5px 1fr 5px 90px;
}
.fifth-grid-header { grid-area: header; background-color: #bbb; }
.fifth-grid-menu { grid-area: menu; background-color: #ccc; }
.fifth-grid-sidebar { grid-area: sidebar; background-color: #ccc; }
.fifth-grid-content { grid-area: content; background-color: #eee; }
.fifth-grid-footer { grid-area: footer; background-color: #bbb; }
/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
  
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
}